<% include ../partials/header %>
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } ); 
</script>

<div class="container">
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Item</th>
            <th>Rate</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Order Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(function(order){ %>
        <tr>
            <td><%= order.date %></td>
            <td><%= order.customer.name %></td>
            <td><%= order.item %></td>
            <td><%= order.rate %></td>
            <td><%= order.weight %></td>
            <td><%= order.price %></td>
            <% if(order.isComplete == true){ %>
            <td> Completed </td>
            <% }
            else {  %>
            <td> Incomplete </td>
            <% } %>
            <td><%= order.total %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
</div>

<% include ../partials/footer %>