<% include ../partials/header %>
<div class="container">
    <div class="row">
        <% orders.forEach(function(order){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card bg-info" style="margin-bottom:2rem; width: 15rem;">
                    <div class="card-header">
                        <h5><%= order.customer.name%></h5>
                        <p><%= order.date.toDateString() %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= order.item.pop() %></li>
                        <%  var item2 = order.item.pop();
                            if(item2 && item2.length>0){ %>
                        <li class="list-group-item"><%= item2  %></li>
                        <% } else{ %>
                        <li class="list-group-item">...</li>
                        <% } %>
                        <li class="list-group-item text-center"><a class="btn btn-primary btn-sm" href="/order/<%= order._id %>"><i class="fas fa-arrow-right"></i></a> <a class="btn btn-success btn-sm"><i class="fas fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
        <% });%>
    </div>
</div>




<% include ../partials/footer %>