<% include ../partials/header %>
<div class="container">
    <div class="row">
        <% orders.forEach(function(order){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <div class="card" style="margin-bottom:2rem; background: #4ebace">
                    <div class="card-header">
                        <h5><%= order.customer.name%></h5>
                        <p><%= order.date.toDateString() %></p>
                    </div>
                    <ul class="list-group list-group-flush" style="list-style: none;margin-left: 1rem">
                        <li><%= order.item.pop() %></li>
                        <%  var item2 = order.item.pop();
                            if(item2 && item2.length>0){ %>
                        <li><%= item2  %></li>
                        <% } else{ %>
                        <li>...</li>
                        <% } %>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center"><a class="btn btn-primary btn-sm" href="/order/<%= order._id %>"><i class="fas fa-arrow-right"></i></a> 
                        <a class="btn btn-success btn-sm" ><i class="fas fa-check" style="color: white"></i></a></li>
                    </ul>
                </div>
            </div>
        <% });%>
    </div>
</div>




<% include ../partials/footer %>